* {
   font-family: 'Kinetic';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav{
    display:flex;
    width: 100%;
    align-items: center;
}

header {
    background-color: #100320;
}

body {
    background-color: #100320;
}

.search_box {
    display: flex;
    align-items: center;
    margin-left: 460px;
    margin-top: 2px;
}

#user_input {
    width: 300px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    border: none;
    background-color: #251737;
    text-align: center;
    font-size: 15px;
    color: #FEF2E3;
}

.modal{
    position: fixed; /* the model covers the entire browser window, and stays fixed even if the page scrolls*/
    display: none; /* we want the modal to be hidden by default, if no button is pressed */
    top: 0; /* both top and left postion the modal at the top-left corner */
    left: 0;
    width: 100%; /*width and height cover the entire screen*/
    height: 100%;
    /*background: rgba(0,0,0,0);*/
    pointer-events: auto;
    /*z-index: 999;*/
}


.modal:target {
    display: block;
}


.modal_content {
    position: relative;
    margin: 5% auto; /*centers the box horizontally and pushes it down from the top by 10% of the screen height*/
    background: #251737;
    padding: 1rem; /*adds inner spacing so the text is not glued to the edges*/
    width: 24%;
    height: 40%;
    margin-left: 570px;
    border-radius: 15px 15px 15px 15px;
    z-index: 1000;
    pointer-events: auto;
}

#results_square {
    pointer-events: auto;
    z-index: 999;
}

.close {
    position: absolute; /*places the close button relative to .model_content*/
    top: 10px; 
    right: 20px;
    text-decoration: none;
    font-size: 24px;
}

.matching_title {
    color:#FEF2E3;
    font-size: 15px;
    list-style: none;
    z-index: 10;
}

#search_button {
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    border: none;
    background-color: #423355;
    position: relative;
}

.search_button img {
    position: relative;
    z-index: 1;
}

.search_button:hover {
    background-color:#FEF2E3;
}

.search_button:hover .search_glass {
    content: url("/assets/searchGlass2.png");
}

#search_glass {
    width: 25px;
    height: 25px;
}

#RubaLogo {
    width: 6rem;
    margin-left: 25px;
    margin-top: 10px;
}


main {
    display: grid;
    grid-template-areas: 'currentSong catalogue catalogue';
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 28px;
}


.playing_song {
    grid-area: currentSong;
    display: flex; /*to vertically center the child (in our case: rectangle)*/
    justify-content: center; /*to vertically center*/
}

#rectangle {
    height: 750px;
    width: 400px;
    grid-column: 1; /* second column  -> placing the element on the second column of the grid*/ 
    grid-row: 1;    /* first row */
    background-color: #251737;
    border-radius: 15px 15px 15px 15px;

    display: flex;
    flex-direction: column;  /*stack content vertically*/
    justify-content: center; /*center vertically*/
    align-items: center;     /*center horizontally*/
}

@keyframes expand_rectangle {
    to {
        width: 95vw;
        /* background-image: linear-gradient(to bottom, var(--centroid-0), var(--centroid-1), var(--centroid-2)); */
        background-image: linear-gradient(to right, var(--centroid-0), var(--centroid-1)),
                  radial-gradient(circle at top left, var(--centroid-2), var(--centroid-0));
    }
    /* 0% { background-image: linear-gradient(to bottom, var(--centroid-0), var(--centroid-1)); }
    50% { background-image: linear-gradient(to bottom, var(--centroid-1), var(--centroid-2)); }
    100% { background-image: linear-gradient(to bottom, var(--centroid-2), var(--centroid-0)); } */
}


@keyframes shrink_rectangle {
    to {
        width: 400px;
        background-image: none;
    }
} 


.play_button {
    background-color: #FEF2E3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#play_triangle {
    width: 22px;
    height: 22px;
}

.empty_heart {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#extend_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#progressBar::-webkit-slider-runnable-track {
    height: 8px;
    background: #FF175D; /* Filled color */
    border-radius: 5px;
}

#progressBar::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    width: 16px;
    height: 16px; */
    background: #FF175D; /* Thumb color */
    border-radius: 50%; 
    cursor: pointer;
    margin-top: -4px; /* To center thumb on track */
}

.controls {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #251737;
    margin-bottom: 20px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* stacks items vertically */
    flex-direction: column; /* aligns items from top */
    /* background-color: #251737; */
    margin-top: 20px;
}

#song_title {
    z-index: 2;
    color:#FEF2E3;
    background-color: #251737;
    font-size: 26px;
    margin-top: -260px;
}

#artist {
    z-index: 2;
    color: #FEF2E3;
    background-color: #251737;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 10px;
}


#picture_frame {
    background-color: #FEF2E3;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 5%;
    cursor: pointer;
    z-index: 999;
}

@keyframes hide_catalogue {
    from {display: block;}
    to {display: none;}  
}

@keyframes show_catalogue {
    from {display: none;}
    to {display: block;}  
}

.catalogue {
    grid-area: catalogue;
}

.catalogue_header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

#title_col {
    color: #725F8B;
    margin-left: 30px;
}

#artist_col {
    color:#725F8B;
}

#drop_menu {
    color:#725F8B;
    margin-left: 190px;
}

#watch_icon {
    width: 30px;
    height: 30px;
}

.playBtn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #423355; 
    border-color: #FEF2E3;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.catalogue_header, .mini_song{
    display: grid;
    grid-template-columns: 120px 85px 200px 200px 200px 200px;
    align-items: center;
    padding: 8px 12px;
}

.mini_song {
    list-style: none;
    border-bottom: 1px solid #eee;
}

.catalogue_header {
  display: flex;
  justify-content: flex-start; /* keep items aligned left */
  gap: 150px;                  /* space between Title / Artist / Icon */
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 8px 12px;
}

.mini_cover {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    object-fit: cover;
}

.mini_title {
    color:#FEF2E3;
    margin-left: -80px;
}

.mini_artist {
    color:#FEF2E3;
}

.mini_duration {
    color:#FEF2E3;
}

.mini_play_buttons {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.mini_full_hearts {
    width: 14px;
    height: 14px;
    cursor: pointer;
}



